	<div class="well">
	<div class="row well">
		<div class="span2">Interior Generic Images</div>
		<div class="span4 drop" rel="interior_generic">
		<% if @interior_generic.nil? %>
			No more Images
		<% else %>
			<% @interior_generic.each do |img| %>
				<a href="<%= img.image.image(:original) %>" rel="group1" class="thumbnail  drag"  id="<%=img.id%>"  target="blank"><img src="<%= img.image.image(:thumb) %>"></a>
			<% end%>
		<% end%>
		</div>
	</div>
		
	<div class="row well">
		<div class="span2">Interior Actual Images</div>
		<div class="span4 drop" rel="interior_actual">
		<% if @interior_actual.nil? %>
				No more Images
		<% else %>
			<% @interior_actual.each do |img| %>
				<a href="<%= img.image.image(:original) %>" rel="group2" class="thumbnail  drag"  id="<%=img.id%>" target="blank"><img src="<%= img.image.image(:thumb) %>"></a>
			<% end%>
		<% end%>
		</div>
	</div>
		
	<div class="row well">
		<div class="span2">Exterior Generic Images</div>
		<div class="span4 drop" rel="exterior_generic">
		<% if @exterior_generic.nil?%>
				No more Images
		<% else %>
			<% @exterior_generic.each do |img| %>
				<a href="<%= img.image.image(:original) %>"  rel="group3"class="thumbnail  drag"  id="<%=img.id%>" target="blank"><img src="<%= img.image.image(:thumb) %>"></a>
			<% end%>
		<% end%>
		</div>
	</div>
	
	<div class="row well">
		<div class="span2">Exterior Actual Images</div>
		<div class="span4 drop" rel="exterior_actual">
		<% if @exterior_actual.nil? %>
				No more Images
		<% else %>
			<% @exterior_actual.each do |img| %>
				<a href="<%= img.image.image(:original) %>"  rel="group4"class="thumbnail  drag"  id="<%=img.id%>" target="blank"><img src="<%= img.image.image(:thumb) %>"></a>
			<% end%>
		<% end%>
		</div>
	</div>
	
	<div class="row well">
		<div class="span2">Featured Image( Used For search page too)</div>
		<div class="span4 drop" rel="featured">
		<% if @featured.nil? %>
				No more Image
		<% else %>
			<a href="<%= @featured.image.image(:original) %>"  rel="group5"class="thumbnail  drag"  id="<%=@featured.id%>" target="blank"><img src="<%= @featured.image.image(:thumb) %>"></a>
		<% end%>
		</div>
	</div>

	<div class="row well">
		<div class="span2">Uncategorized Images</div>
		<div class="span4" rel="uncategorized">
		<% if @uncategorized.count ==0 %>
				No more Images
		<% else %>
			<% @uncategorized.each do |img| %>
				<a href="<%= img.image.image(:original)%>" id="<%=img.id%>" rel="group6" class="thumbnail drag ui-widget-content" target="blank"><img src="<%= img.image.image(:thumb) %>"></a>
			<% end%>
		<% end%>
		</div>
	</div>

	<div class="thumbnail drop" rel="trash">
			<img src="/assets/trash.png" style="height:100px">	Drop here to Delete the Image
		</div>
<h3>Upload Images </h3>
<%= form_tag("/admin/variant/#{@object.id}/images", :multipart => true,  :class=>"form-horizontal well", :method=>"post") do %>
	<div class="control-group">
   <%= label_tag :image_type, "Image Category",:class=>"control-label" %>
    <div class="controls">
			<%=  select_tag "image_type",options_for_select(["interior_generic","interior_actual","exterior_generic","exterior_actual","featured"]) %>
    </div>
  </div>
 	<div class="control-group">
  <%= label_tag :caption, "Image Caption",:class=>"control-label" %>
    <div class="controls">
			<%= text_field_tag :caption  %>
    </div>
  </div>
  <div class="control-group">
   <%= label_tag :image, "Upload Images", :class=>"control-label" %>
    <div class="controls">
			<%= file_field_tag :image %>	
    </div>
  </div>
	<div class="control-group">
    <div class="controls">
			<%= submit_tag "Upload Images"%>
    </div>
  </div>
<% end %>
<script type="text/javascript">
	var draggable_id="";
	$(document).ready(function(){
		$(".drag").draggable({
			revert: true,
			drag:function(){
				draggable_id=$(this).attr("id");
			}
		});
		var bgcolor=$(".drop").css('backgroundColor');
		$(".drop").droppable({
			over: function() {
				$(this).css('backgroundColor', '#cedae3');
				if($(this).attr("rel")=="trash")
				{
					$(this).closest("div").css('backgroundColor', '#f00');
				}
				
			},
			out: function() {
				$(this).css('backgroundColor', bgcolor);
				if($(this).attr("rel")=="trash")
				{
					$(this).closest("div").css('backgroundColor', '#cedae3');
				}
			},
			drop: function() {
				var commit="";
				var drop_div=$(this).attr("rel");
				var drag_div=$("#"+draggable_id).closest("div").attr("rel");
				if (drag_div==drop_div)
					return false
				if(drop_div=="trash"){
					commit="destroy";
					if (!confirm("Are you sure ?"))
						return false;
				}
				else
					commit="update"
				var url="/admin/variant/<%= @object.id %>/images";
				$.post(url,{"img_type":drop_div,"commit":commit,"img_id":draggable_id},function(data){
						if(data=="updated" || data=="Deleted")
							location.href=url;
						else 
							alert(data);
				});
				draggable_id="";
			}
		});
	});
</script>
