<div class="well">
	<div class="row">
		<div class="span2">Interior Images</div>
		<div class="span4">
			<% @interior_imgs.each do |img| %>
				<a href="<%= img.image.image(:original) %>" class="thumbnail" target="blank"><img src="<%= img.image(:original) %>"></a>
			<% end%>
		</div>
	</div>
	<div class="row">
		<div class="span2">Exterior Images</div>
		<div class="span4">
			<% @interior_imgs.each do |img| %>
				<a href="<%= img.image.image(:original) %>" class="thumbnail" target="blank"><img src="<%= img.image(:original) %>"></a>
			<% end%>
		</div>
	</div>
	<div class="row">
		<div class="span2">Generic Images</div>
		<div class="span4">
			<% @interior_imgs.each do |img| %>
				<a href="<%= img.image.image(:original) %>" class="thumbnail" target="blank"><img src="<%= img.image(:original) %>"></a>
			<% end%>
		</div>
	</div>
</div>
